* {
  -moz-transition: 0.1s all ease-in-out;
  -webkit-transition: 0.1s all ease-in-out;
  -moz-transition: 0.1s all ease-in-out;
  -o-transition: 0.1s all ease-in-out;
  transition: 0.1s all ease-in-out;
}

body {
  font-family: 'Montserrat', sans-serif;
  transition: 0.5s all ease-in-out;
  color: #3f3f3f;
  overflow-y: scroll;
}
